.site-nav {
    width: 100%;
    height: 80px;
    background-color: #ffffffab;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.logo-img {
    width: 70px;
    height: 70px;
    margin-left: 100px;
}
.nav-list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 100px;
    align-items: center;
}
.nav-link {
    text-decoration: none;
    color: rgb(49, 49, 49);
}
.nav-link:hover {
    color: rgb(146, 0, 0);
}